	<% if @current_user %>
	<h3>Yeehah! Welcome, <%= @current_user.name_first %>!</h3>
	<a href="/logout">Logout</a>
	<%= link_to logout_path %>
	<% end %>
	<h2>Our Users</h2>
	<ul>
	<% @users.each do |user| %>
	<li><%= link_to user.name_first + " " + user.name_last, "/users/#{user.id}" %></li>
	<% end %>
	</ul>