	<h2><%= @user.name_first + " " + @user.name_last %></h2>

	<p>Your calendars</p>
	<ul>
	<% @user.calendars.each do |calendar| %>
		<li><%= calendar.title %></li>
	<% end %>
	</ul>

	<h2>Your events for your first calendar</h2>

	<% @user.calendars.first.events.each do |event| %>
		<%= output event %>
	<% end %>